/* .containerT{
    width: 65vw;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
    border-radius: 20px;
} */

.wrap-check {
    display: flex;
    gap: 10px;
    align-items: center;
}

.line-through {
    text-decoration: line-through;
}

.checkbox {
    width: 60px;
    height: 60px;
    outline: none;
}

.wrap-Todo {
    width: 65vw;
    min-width: 400px;
    /* height: auto; */
    padding: 10px;
    background-color: rgb(30, 30, 30);
    /* background-color: rgb(68, 152, 125); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 60px 0px;
    border-radius: 20px;
}

.takeTask {
    width: 100%;
    display: flex;
    margin: auto;
    gap: 5px;
    padding: 15px 10px;
    background-image: url('../assets/images/milad-fakurian-cTlimlJPNE4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.showTodos {
    width: 100%;
    padding: 5px 8px;
}

.todo {
    width: 100%;
    display: flex;
    margin: 8px 0px;
    padding: 10px 8px;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgba(106, 106, 106, 0.395);
    /* transition: box-shadow 0.2s ease;
    will-change: box-shadow; */
    color: white;
    border: 2px solid rgba(147, 147, 147, 0.37);
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}

/* .todo:hover{
    box-shadow: 2px 2px 5px rgb(174, 173, 173);
} */

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}